html, body {
    height: 100%;
}

.main {
    height: 100%;
}

.addCityField {
    width: 30%;
    margin: 0 auto;
    position: relative;
    top: 45%
}

.main-form-button {
    position: absolute;
    top: 98%;
    left: 80%;
}


.watchlistbtn {
    margin-top: 1rem;
    text-align: center;
    text-decoration: none!important;
}

.citytable {
    width: 40%;
    margin: 0 auto;
}

.citytable td {
    display: flex;
    justify-content: space-between;
}